/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

@font-face {
	src:url("assets/fonts/LubalGraITCDem.ttf");
	fontFamily:"LubalinDemi";
}

@font-face {
	src:url("assets/fonts/HelveticaNeueBold.ttf");
	fontFamily:"Helv";
}


.lubalin{
	font-family:"LubalinDemi";
}


.Helv{
	fontFamily:"Helv";
}