/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


#scroller{
	height:2;
}

s|TextInput{
	borderVisible:false;
	contentBackgroundColor:#f0f0f0;
}