/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


#scroller{
	height:2;
}

s|TextInput{
	borderVisible:false;
	contentBackgroundColor:#f0f0f0;
	fontSize:11px;
	focusThickness:1px;
	focusColor:#bbbbbb;
	fontSize:9px;
}
s|TextInput.errorField{
	contentBackgroundColor:#aa2222;
	fontColor:#ffffff;
}
.modalLabel{
	fontFamily:"Helv";
	fontSize:15px;
	letterSpacing:-20;
	lineHeight:16px;
	color:#666666;
	left:40px;
	dropShadowVisible:true;
}